
services:
    php:
        ports:
            - "127.0.0.1:8080:80"
        volumes:
            - "./docker/xdebug.ini:/usr/local/etc/php/conf.d/zz-xdebug.ini"
            - "./docker/php.ini:/usr/local/etc/php/conf.d/php.ini"

    mysql:
        ports:
            - "3310:3306"
