{% extends './layouts/base.html.twig' %}

{% block content %}
    <div class="content">
        <h1 class="content-h1">Cut URL</h1>
        {{ encore_entry_script_tags('app') }}
        <hash-create></hash-create>
    </div>
{% endblock %}
