<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Scripts -->
    <script src="{{ asset('build/app.js') }}" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.bootcss.com/clipboard.js/2.0.4/clipboard.min.js"></script>

    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <title>Url-shortener</title>
</head>
<body>
<div id="app">
    <main class="py-4">
        {% block content %}{% endblock %}
    </main>
</div>
</body>
</html>
